.title{
    /*background-color: cadetblue;*/
    color: #ffffff;
    background-color: #f06292;
    padding: 2rem 0;
}
.lan{
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
}
.lan:hover{
    background-color:#dd4779;
}
.lan option{
    appearance: none;
    background-color: #dd4779;
    color: white;
}
.link{
    color: #dd4779;
    background-color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
    padding: 0px 20px;
    border: 3px solid white;
    border-radius: 5em 5em 5em 1em;
    display: inline-block;
}
.button, .compCard{
    font-size: 3em;
}
.button:hover{
    transform: scale3d(1.1);
    background-color: #ffdcec;
    transition: 0.3s ease-in-out;
    font-size: 5.4em;
}
.grass{
    width: 400px;
    height: 400px;
    background-color: #a8d5a2;
    border: 6px double #4caf50;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.mouse{
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    padding: 23px;
    box-sizing: border-box;
}
#canvas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
    padding: 10px;
    border: 10px solid rgb(255, 198, 166);
    border-radius: 10px;

}
